<div class="row">
	<div class="col1-3">
		<div class="card card2 cornered1">
			<div class="card-header pb-0">
				<h6 class="title">اماکن ورزشی وزارت ورزش و جوانان</h6>
				<a href="/TechnicalDepartment/Facilities">جزئیات بیشتر</a>
			</div>
			<div class="card-body">
				@if(msyFacilities is null)
				{
					<Loading />
				}
				else
				{
					<div>
						<h1>@msyFacilitiesCount</h1>
					</div>
					<div>
						<div class="d-flex justify-content-between">
							<p>دارای سند:</p>
							<b>@documentedMsyFacilitiesCount</b>
						</div>
						<div class="d-flex justify-content-between">
							<p>فاقد سند:</p>
							<b>@undocumentedMsyFacilitiesCount</b>
						</div>
						<div class="d-flex justify-content-between">
							<p>واگذار شده در ماده 88:</p>
							<b>@contractedMsyFacilitiesCount</b>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
	<div class="col1-3">
		<div class="card card2 cornered2">
			<div class="card-header pb-0">
				<h6 class="title">اماکن ورزشی سایر ارگان ها</h6>
				<a href="/TechnicalDepartment/Facilities">جزئیات بیشتر</a>
			</div>
			<div class="card-body">
				@if(govFacilities is null)
				{
					<Loading />
				}
				else
				{
					<div>
						<h1>@govFacilitiesCount</h1>
					</div>
					<div>
						<div class="d-flex justify-content-between">
							<p>دارای مجوز ماده 5:</p>
							<b>@licensedGovFacilitiesCount</b>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
	<div class="col1-3">
		<div class="card card2 cornered3">
			<div class="card-header pb-0">
				<h6 class="title">باشگاه های خصوصی</h6>
				<a href="/TechnicalDepartment/Facilities">جزئیات بیشتر</a>
			</div>
			<div class="card-body">
				@if(privateFacilities is null)
				{
					<Loading />
				}
				else
				{
					<div>
						<h1>@privateFacilitiesCount</h1>
					</div>
					<div>
						<div class="d-flex justify-content-between">
							<p>حقیقی:</p>
							<b>@beneficalPrivateFacilitiesCount</b>
						</div>
						<div class="d-flex justify-content-between">
							<p>تملیکی:</p>
							<b>@ownedPrivateFacilitiesCount</b>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
</div>

@code {
	private DbSet<Facility>? msyFacilities;
	private int msyFacilitiesCount { get; set; } = 0;
	private int documentedMsyFacilitiesCount { get; set; } = 0;
	private int undocumentedMsyFacilitiesCount { get; set; } = 0;
	private int contractedMsyFacilitiesCount { get; set; } = 0;

	private DbSet<GovernmentFacility>? govFacilities;
	private int govFacilitiesCount { get; set; } = 0;
	private int licensedGovFacilitiesCount { get; set; } = 0;

	private DbSet<PrivateFacility>? privateFacilities;
	private int privateFacilitiesCount { get; set; } = 0;
	private int beneficalPrivateFacilitiesCount { get; set; } = 0;
	private int ownedPrivateFacilitiesCount { get; set; } = 0;


	protected override void OnInitialized()
	{
		using var context = DbFactory.CreateDbContext();

		msyFacilities = context.Facilities;
		msyFacilitiesCount = msyFacilities
			.Where(facility => facility.IsSubFacility == false)
			.Count();

		documentedMsyFacilitiesCount = context.FacilityDocuments
			.Count();
		undocumentedMsyFacilitiesCount = msyFacilitiesCount - documentedMsyFacilitiesCount;
		contractedMsyFacilitiesCount = msyFacilities
			.Where(m => m.FacilityContracts.Count() > 0)
			.Count();

		govFacilities = context.GovernmentFacilities;
		govFacilitiesCount = govFacilities.Count();
		licensedGovFacilitiesCount = govFacilities
			.Where(m => m.GovernmentFacilityLicenses.Count() > 0)
			.Count();

		privateFacilities = context.PrivateFacilities;
		privateFacilitiesCount = privateFacilities.Count();
		beneficalPrivateFacilitiesCount = privateFacilities
			.Where(m => m.PrivateFacilityLicenses
				.Any(m => m.IsBeneficial == true))
			.Count();
		ownedPrivateFacilitiesCount = privateFacilities
			.Where(m => m.PrivateFacilityLicenses
				.Where(m => m.IsOwner == true).Count() > 0)
			.Count();
	}
}
