@page "/Panel/Athletes"

@using Microsoft.AspNetCore.Components.QuickGrid
@using System.Globalization

@rendermode InteractiveServer

<PageTitle>ورزشکاران سازمان یافته</PageTitle>

<div class="list-wrapper">
	<div class="list-header">
		<div class="header-title colored">
			<h6 class="title">آمار ورزشکاران سازمان یافته شهرستان</h6>
			<div class="search form-group fa">
				<label class="form-label" for="paginator-search-input">
					<img src="/icons/search-gray.svg" />
				</label>
				<InputText class="form-control" placeholder=@($"جستجو بر اساس هیات ورزشی") id="paginator-search-input" @bind-Value="searchText" @oninput="Search"></InputText>
			</div>
		</div>
		<div class="paginator">
			<nav role="navigation">
				@if (pagination.TotalItemCount.HasValue)
				{
					var totalPages = pagination.TotalItemCount;
					var pageIndex = pagination.CurrentPageIndex;
					var currentPage = pageIndex + 1;
					var lastPage = pagination.LastPageIndex + 1;
					var firstItemNumber = 1 + (pagination.ItemsPerPage * pagination.CurrentPageIndex);
					var lastItemNumber = pagination.ItemsPerPage * (pagination.CurrentPageIndex + 1);
					<button @onclick="@(() => GoToPageAsync(pageIndex - 1))"
							class="btn"
							aria-current="@AriaCurrentValue(pageIndex - 1)"
							aria-label="@(pageIndex - 1)"
							disabled=@((pageIndex <= 0) ? "disabled" : false)>
						<img src="/icons/arrow-right.svg" />
					</button>
					<button @onclick="@(() => GoToPageAsync(pageIndex + 1))"
							class="btn"
							aria-current="@AriaCurrentValue(pageIndex + 1)"
							aria-label="@(pageIndex + 1)"
							disabled=@((currentPage >= lastPage) ? "disabled" : false)>
						<img src="/icons/arrow-left.svg" />
					</button>
				}
			</nav>
			@*
						<div class="total border-0 p-0">
							<div class="total">
								@($"آقایان: {Insurances!.Sum(insurance => insurance.MenCount)}")
							</div>
							<div class="total">
								@($"بانوان: {Insurances!.Sum(insurance => insurance.WomenCount)}")
							</div>
							<div class="total">
								@($"مجموع: {Insurances!.Sum(insurance => insurance.WomenCount + insurance.MenCount)}")
							</div>
						</div>
						*@
		</div>
	</div>
	@if (Insurances is null)
	{
		<Loading CardMode=true />
	}
	else
	{
		<div class="table-wrapper">
			@if (Insurances is not null)
			{
				<QuickGrid Items="Insurances.AsQueryable()" Pagination="pagination" Theme="" Class="quickgrid-table">
					<TemplateColumn Class="action-button status">
						<img src="/icons/arrow-left.svg" />
					</TemplateColumn>
					<PropertyColumn Class="bold" Title="هیات ورزشی" Property="@(insurance => insurance.Key.PersianName)" />

					<TemplateColumn Class="action-button text-3" Title="تعداد بیمه آقایان">
						<img src="/icons/man-blue.svg" />
					</TemplateColumn>
					<PropertyColumn Class="light text-3" Title="تعداد بیمه آقایان" Property="@(insurance => insurance.MenCount)" />

					<TemplateColumn Class="action-button text-3" Title="تعداد بیمه آقایان">
						<img src="/icons/woman-blue.svg" />
					</TemplateColumn>
					<PropertyColumn Class="light text-3" Title="تعداد بیمه بانوان" Property="@(insurance => insurance.WomenCount)" />

					<TemplateColumn Class="action-button header-5" Title="تعداد بیمه آقایان">
						<img src="/icons/genders-blue.svg" />
					</TemplateColumn>
					<PropertyColumn Class="light header-5" Title="مجموع ورزشکاران سازمان یافته" Property="@(insurance => insurance.MenCount + insurance.WomenCount)" />

					<TemplateColumn Class="action-button">
						<a class="edit-link" href="/Panel/Athletes/List/@context.Key.Id">
							<img src="/icons/calendar-blue.svg" />
						</a>
					</TemplateColumn>
				</QuickGrid>
			}
		</div>
	}
</div>


@code {
	private List<ViewModel>? Insurances;

	private string? searchText;

	protected override async Task OnInitializedAsync()
	{
		using var context = DbFactory.CreateDbContext();
	}

	private async Task Search(ChangeEventArgs args)
	{
		searchText = args.Value!.ToString();

		using var context = DbFactory.CreateDbContext();

		var current = getDateString(DateTime.Today);
		var old = getDateString(DateTime.Now.AddYears(-1));
		Insurances = string.IsNullOrEmpty(searchText)
		? await context.Insurances
			.Include(insurance => insurance.Federation)
			.Where(insurance =>
				old < insurance.Year * 100 + insurance.Month
				&&
				insurance.Year * 100 + insurance.Month <= current
			)
			.GroupBy(insurance => insurance.Federation)
				.Select(group => new ViewModel
				{
					Key = group.Key,
					MenCount = group.Sum(i => i.MenCount),
					WomenCount = group.Sum(i => i.WomenCount),
				})
			.OrderBy(select => select.Key.PersianName)
			.ToListAsync()
		: await context.Insurances
			.Include(insurance => insurance.Federation)
			.Where(insurance => insurance.Federation.PersianName.Contains(searchText))
			.Where(insurance =>
				old < insurance.Year * 100 + insurance.Month
				&&
				insurance.Year * 100 + insurance.Month <= current
			)
			.GroupBy(insurance => insurance.Federation)
				.Select(group => new ViewModel
				{
					Key = group.Key,
					MenCount = group.Sum(i => i.MenCount),
					WomenCount = group.Sum(i => i.WomenCount),
				})
			.OrderBy(select => select.Key.PersianName)
			.ToListAsync();
	}

	protected override async Task OnParametersSetAsync()
	{
		Insurances = null;
		searchText = string.Empty;

		using var context = DbFactory.CreateDbContext();

		var current = getDateString(DateTime.Today);
		var old = getDateString(DateTime.Now.AddYears(-1));
		Insurances = await context.Insurances
			.Include(insurance => insurance.Federation)
			.Where(insurance =>
				old < insurance.Year * 100 + insurance.Month
				&&
				insurance.Year * 100 + insurance.Month <= current
			)
			.GroupBy(insurance => insurance.Federation)
				.Select(group => new ViewModel
				{
					Key = group.Key,
					MenCount = group.Sum(i => i.MenCount),
					WomenCount = group.Sum(i => i.WomenCount),
				})
			.OrderBy(select => select.Key.PersianName)
			.ToListAsync();

		await pagination.SetCurrentPageIndexAsync(0);
		pagination.TotalItemCountChanged += (sender, eventArgs) => StateHasChanged();

		StateHasChanged();
	}

	private PaginationState pagination = new PaginationState { ItemsPerPage = 5 };

	private async Task GoToPageAsync(int pageIndex)
	{
		await pagination.SetCurrentPageIndexAsync(pageIndex);
	}

	private string? AriaCurrentValue(int pageIndex)
		=> pagination.CurrentPageIndex == pageIndex ? "page" : null;

	private int getDateString(DateTime date)
	{
		PersianCalendar pc = new PersianCalendar();
		var year = pc.GetYear(date);
		var month = pc.GetMonth(date);
		return year * 100 + month;
	}

	private class ViewModel
	{
		public Federation Key { get; set; }
		public int MenCount { get; set; }
		public int WomenCount { get; set; }
	}
}
