
<div class="row">
	<div class="col1-3">
		<div class="card cornered1">
			<div class="card-header">
				<h6 class="title">مدال آوران استان</h6>
			</div>
			@if(champions is null)
			{
				<Loading />
			}
			else
			{
				<div class="card-body medals-card">
					<div>
						<h1 class="total">@championsCount</h1>
					</div>
					<div class="medal-items">
						<div class="medal-item">
							<span class="material-symbols-rounded">man</span>
							<p>@menChampionsCount</p>
						</div>
						<div class="medal-item">
							<span class="material-symbols-rounded">woman</span>
							<p>@womenChampionsCount</p>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
	<div class="col2-3">
		<div class="card cornered2">
			<div class="card-header">
				<h6 class="title">مدال های استان</h6>
			</div>
			@if (champions is null)
			{
				<Loading />
			}
			else
			{
				<div class="row">
					<div class="col1-2 mb-0">
						<div class="card-body medals-card">
							<div>
								<h1 class="total">@medalsCount</h1>
							</div>
							<div class="medal-items">
								<div class="medal-item">
									<span class="material-symbols-rounded">man</span>
									<p>@menMedalsCount</p>
								</div>
								<div class="medal-item">
									<span class="material-symbols-rounded">woman</span>
									<p>@womenMedalsCount</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col1-2 mb-0 d-flex">
						<div class="card-body medals-card">
							<div class="medal-items">
								<div class="medal-item">
									<span class="material-symbols-rounded medal-silver">trophy</span>
									<p>@silverMedalsCount</p>
								</div>
								<div class="medal-item">
									<span class="material-symbols-rounded medal-gold">trophy</span>
									<p>@goldMedalsCount</p>
								</div>
								<div class="medal-item">
									<span class="material-symbols-rounded medal-bronze">trophy</span>
									<p>@bronzeMedalsCount</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</div>

@code {
	[Parameter]
	public int Year { get; set; }

	private IQueryable<Athlete>? champions;

	private int championsCount;
	private int menChampionsCount;
	private int womenChampionsCount;

	private int medalsCount;
	private int menMedalsCount;
	private int womenMedalsCount;
	private int goldMedalsCount;
	private int silverMedalsCount;
	private int bronzeMedalsCount;

	protected override void OnInitialized()
	{
		using var context = DbFactory.CreateDbContext();

		OnParametersSet();
	}

	protected override void OnParametersSet()
	{
		using var context = DbFactory.CreateDbContext();

		champions = context.Athletes
			.Include(athlete => athlete.Gender)
			.Include(athlete => athlete.Champions)
			.Where(athlete => athlete.Champions
				.Any(champion => champion.Tournament.Year == Year))
			.Where(athlete => athlete.Champions
				.Any(champion => champion.Medal != null));

		championsCount = champions.Count();

		menChampionsCount = champions
			.Count(champion => champion.Gender.Id == 1);

		womenChampionsCount = champions
			.Count(champion => champion.Gender.Id == 2);

		medalsCount = context.Champions
			.Include(champion => champion.Athlete)
			.Count(champion => champion.Medal != null);

		var medals = context.Champions
			.Include(champion => champion.Tournament)
			.Where(champion => champion.Tournament.Year == Year);

		medalsCount = medals
			.Sum(champion => champion.MedalsCount!.Value);

		menMedalsCount = medals
			.Where(champion => champion.Athlete.GenderId == 1)
			.Sum(champion => champion.MedalsCount!.Value);

		womenMedalsCount = medals
			.Where(champion => champion.Athlete.GenderId == 2)
			.Sum(champion => champion.MedalsCount!.Value);

		goldMedalsCount = medals
			.Where(champion => champion.Medal!.Color == "Gold")
			.Sum(champion => champion.MedalsCount!.Value);

		silverMedalsCount = medals
			.Where(champion => champion.Medal!.Color == "Silver")
			.Sum(champion => champion.MedalsCount!.Value);

		bronzeMedalsCount = medals
			.Where(champion => champion.Medal!.Color == "Bronze")
			.Sum(champion => champion.MedalsCount!.Value);
	}
}
