@page "/SportsGroup/Champions"

@layout _Layout

<PageTitle>ورزش قهرمانی</PageTitle>

@if (Years is null)
{
    <Loading CardMode=true />
}
else
{
    <div class="row">
        <div class="col1-1">
            <div class="card color-card">
                <div class="card-header">
                    <h6 class="title">ورزش قهرمانی در سال @Year</h6>
                    <InputSelect class="select" @bind-Value="Year">
                        @foreach (int year in Years)
                        {
                            <option value="@year">@year</option>
                        }
                    </InputSelect>
                </div>
            </div>
        </div>
    </div>

    <ChampionsYearSummaryCard Year="@Year" />

    <div class="row">
        <div class="col1-1">
            <ChampionsYearFederationsStatusCard Year="@Year" />
        </div>
    </div>
}

@code {
    [Parameter]
    public List<int>? Years { get; set; } = null!;

    private int Year;

    protected override void OnInitialized()
    {
        using var context = DbFactory.CreateDbContext();

        Years = context.Champions
            .Include(champion => champion.Tournament)
            .GroupBy(champion => champion.Tournament.Year)
                .Select(group => group.Key)
            .OrderByDescending(year => year)
            .ToList();

        Year = Years.FirstOrDefault();
    }
}