@using System.Globalization

<div class="card cornered2">
    <div class="card-header pb-0">
        <h6>خلاصه وضعیت جمعیت</h6>
    </div>
    <div class="card-body">
        @if (TotalPopulation is null)
        {
            <Loading />
        }
        else
        {
            <h6 class="display-6 total mb-4">@TotalPopulation</h6>
            <div class="details">
                <div class="detail">
                    <p>جمعیت شهری</p>
                    <div class="d-flex">
                        <p class="ms-4">@(UrbanMenPopulation)</p>
                        <p>@(UrbanWomenPopulation)</p>
                    </div>
                </div>
                <div class="detail">
                    <p>جمعیت روستایی</p>
                    <div class="d-flex">
                        <p class="ms-4">@(RuralMenPopulation)</p>
                        <p>@(RuralWomenPopulation)</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public int? CityId { get; set; }

    private int? TotalPopulation = null!;
    private int? UrbanMenPopulation = null!;
    private int? UrbanWomenPopulation = null!;
    private int? RuralMenPopulation = null!;
    private int? RuralWomenPopulation = null!;

    protected override async Task OnInitializedAsync()
    {
        var currentYear = 1404;
        
        using var context = DbFactory.CreateDbContext();

        var population = await context.Population
            .Where(m => m.Year >= currentYear - 10)
            .ToListAsync();

        UrbanMenPopulation = population
            .Sum(m => m.UrbanMen);

        UrbanWomenPopulation = population
            .Sum(m => m.UrbanWomen);

        RuralMenPopulation = population
            .Sum(m => m.RuralMen);

        RuralWomenPopulation = population
            .Sum(m => m.RuralWomen);

        TotalPopulation = UrbanMenPopulation + UrbanWomenPopulation + RuralMenPopulation + RuralWomenPopulation;
    }

    protected override async Task OnParametersSetAsync()
    {
        if (CityId is null)
        {
            return;
        }

        var currentYear = 1404;
        
        using var context = DbFactory.CreateDbContext();

        var population = await context.Population
            .Where(m => m.Year >= currentYear - 10)
            .Where(m => m.CityId == CityId)
            .ToListAsync();

        UrbanMenPopulation = population
            .Sum(m => m.UrbanMen);

        UrbanWomenPopulation = population
            .Sum(m => m.UrbanWomen);

        RuralMenPopulation = population
            .Sum(m => m.RuralMen);

        RuralWomenPopulation = population
            .Sum(m => m.RuralWomen);

        TotalPopulation = UrbanMenPopulation + UrbanWomenPopulation + RuralMenPopulation + RuralWomenPopulation;
    }
}
