@page "/Dashboard/SportsGroup/Insurance"

@using Microsoft.AspNetCore.Components.QuickGrid
@using System.Globalization

@rendermode InteractiveServer

@layout _Layout

<PageTitle>ورزشکاران سازمان یافته</PageTitle>

<div class="page-top-menu">
	<div class="paginator-search form-group fa">
		<label class="form-label" for="paginator-search-input">
			<img src="/icons/search-gray.svg" />
		</label>
		<InputText class="form-control" placeholder=@($"جستجو در آمار ورزشکاران سازمان یافته شهرستان {City?.PersianName} بر اساس هیات ورزشی") id="paginator-search-input" @bind-Value="searchText" @oninput="Search"></InputText>
	</div>
	<div class="top-menu-links justify-content-end">
		<NavLink class="panel-link" href="/Dashboard/SportsGroup/Insurance/Add">ثبت آمار ورزشکاران سازمان یافته</NavLink>
	</div>
</div>
@if (Cities is null)
{
	<Loading CardMode=true />
}
else
{
	<div class="row">
		<div class="col1-1">
			<div class="card list-card">
				<div class="card-header border-bottom">
					<h6 class="title">آمار ورزشکاران سازمان یافته شهرستان @City?.PersianName</h6>
					<InputSelect class="select" @bind-Value="CityId" @bind-Value:after="OnParametersSetAsync">
						@foreach (City city in Cities!)
						{
							<option value="@city.Id">@city.PersianName</option>
						}
					</InputSelect>
				</div>
				@if (Insurances is null)
				{
					<Loading CardMode=true />
				}
				else
				{
					<div class="card-body">
						<div class="table-wrapper">
							@if (Insurances is not null)
							{
								<QuickGrid Items="Insurances.AsQueryable()" Pagination="pagination" Theme="" Class="quickgrid-table">
									<PropertyColumn Title="هیات ورزشی" Property="@(insurance => insurance.Key.PersianName)" />
									<PropertyColumn Title="تعداد بیمه آقایان" Property="@(insurance => insurance.MenCount)" />
									<PropertyColumn Title="تعداد بیمه بانوان" Property="@(insurance => insurance.WomenCount)" />
									<PropertyColumn Title="مجموع ورزشکاران سازمان یافته" Property="@(insurance => insurance.MenCount + insurance.WomenCount)" />
									<TemplateColumn>
										<a class="edit-link" href="/Dashboard/SportsGroup/Insurance/List/@City!.Id/@context.Key.Id">
											<img src="/icons/calendar-blue.svg" />
										</a>
									</TemplateColumn>
								</QuickGrid>
							}
						</div>
					</div>
					<div class="card-footer pt-0">
						<div class="paginator border-top pt-3">
							<nav role="navigation">
								@if (pagination.TotalItemCount.HasValue)
								{
									var totalPages = pagination.TotalItemCount;
									var pageIndex = pagination.CurrentPageIndex;
									var currentPage = pageIndex + 1;
									var lastPage = pagination.LastPageIndex + 1;
									var firstItemNumber = 1 + (pagination.ItemsPerPage * pagination.CurrentPageIndex);
									var lastItemNumber = pagination.ItemsPerPage * (pagination.CurrentPageIndex + 1);
									<button @onclick="@(() => GoToPageAsync(pageIndex - 1))"
											class="btn"
											aria-current="@AriaCurrentValue(pageIndex - 1)"
											aria-label="@(pageIndex - 1)"
											disabled=@((pageIndex <= 0) ? "disabled" : false)>
										<img src="/icons/arrow-right.svg" />
									</button>
									<div class="total">@string.Format("صفحه {0} از {1}", currentPage, lastPage)</div>
									<button @onclick="@(() => GoToPageAsync(pageIndex + 1))"
											class="btn"
											aria-current="@AriaCurrentValue(pageIndex + 1)"
											aria-label="@(pageIndex + 1)"
											disabled=@((currentPage >= lastPage) ? "disabled" : false)>
										<img src="/icons/arrow-left.svg" />
									</button>
								}
							</nav>
							<div class="total border-0 p-0">
								<div class="total">
									@($"آقایان: {Insurances!.Sum(insurance => insurance.MenCount)}")
								</div>
								<div class="total">
									@($"بانوان: {Insurances!.Sum(insurance => insurance.WomenCount)}")
								</div>
								<div class="total">
									@($"مجموع: {Insurances!.Sum(insurance => insurance.WomenCount + insurance.MenCount)}")
								</div>
							</div>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
}

@code {
	[Parameter]
	public int CityId { get; set; }

	private List<City>? Cities;
	private City? City;

	private List<ViewModel>? Insurances;

	private string? searchText;

	protected override async Task OnInitializedAsync()
	{
		using var context = DbFactory.CreateDbContext();

		Cities = await context.Cities
			.Where(city => city.Id != 0)
			.ToListAsync();

		CityId = Cities.FirstOrDefault().Id;
	}

	private async Task Search(ChangeEventArgs args)
	{
		searchText = args.Value!.ToString();

		using var context = DbFactory.CreateDbContext();

		var current = getDateString(DateTime.Today);
		var old = getDateString(DateTime.Now.AddYears(-1));
		Insurances = string.IsNullOrEmpty(searchText)
		? await context.Insurances
			.Include(insurance => insurance.City)
			.Include(insurance => insurance.Federation)
			.Where(insurance => insurance.CityId == CityId)
			.Where(insurance =>
				old < insurance.Year * 100 + insurance.Month
				&&
				insurance.Year * 100 + insurance.Month <= current
			)
			.GroupBy(insurance => insurance.Federation)
				.Select(group => new ViewModel
				{
					Key = group.Key,
					MenCount = group.Sum(i => i.MenCount),
					WomenCount = group.Sum(i => i.WomenCount),
				})
			.OrderBy(select => select.Key.PersianName)
			.ToListAsync()
		: await context.Insurances
			.Include(insurance => insurance.City)
			.Include(insurance => insurance.Federation)
			.Where(insurance => insurance.CityId == CityId)
			.Where(insurance => insurance.Federation.PersianName.Contains(searchText))
			.Where(insurance =>
				old < insurance.Year * 100 + insurance.Month
				&&
				insurance.Year * 100 + insurance.Month <= current
			)
			.GroupBy(insurance => insurance.Federation)
				.Select(group => new ViewModel
				{
					Key = group.Key,
					MenCount = group.Sum(i => i.MenCount),
					WomenCount = group.Sum(i => i.WomenCount),
				})
			.OrderBy(select => select.Key.PersianName)
			.ToListAsync();
	}

	protected override async Task OnParametersSetAsync()
	{
		Insurances = null;
		searchText = string.Empty;

		using var context = DbFactory.CreateDbContext();

		City = Cities!.FirstOrDefault(c => c.Id == CityId);

		var current = getDateString(DateTime.Today);
		var old = getDateString(DateTime.Now.AddYears(-1));
		Insurances = await context.Insurances
			.Include(insurance => insurance.City)
			.Include(insurance => insurance.Federation)
			.Where(insurance => insurance.CityId == CityId)
			.Where(insurance =>
				old < insurance.Year * 100 + insurance.Month
				&&
				insurance.Year * 100 + insurance.Month <= current
			)
			.GroupBy(insurance => insurance.Federation)
				.Select(group => new ViewModel
				{
					Key = group.Key,
					MenCount = group.Sum(i => i.MenCount),
					WomenCount = group.Sum(i => i.WomenCount),
				})
			.OrderBy(select => select.Key.PersianName)
			.ToListAsync();

		await pagination.SetCurrentPageIndexAsync(0);
		pagination.TotalItemCountChanged += (sender, eventArgs) => StateHasChanged();

		StateHasChanged();
	}

	private PaginationState pagination = new PaginationState { ItemsPerPage = 10 };

	private async Task GoToPageAsync(int pageIndex)
	{
		await pagination.SetCurrentPageIndexAsync(pageIndex);
	}

	private string? AriaCurrentValue(int pageIndex)
		=> pagination.CurrentPageIndex == pageIndex ? "page" : null;

	private int getDateString(DateTime date)
	{
		PersianCalendar pc = new PersianCalendar();
		var year = pc.GetYear(date);
		var month = pc.GetMonth(date);
		return year * 100 + month;
	}

	private class ViewModel
	{
		public Federation Key { get; set; }
		public int MenCount { get; set; }
		public int WomenCount { get; set; }
	}
}
